/* All custom css for components which extend the card component go in here! */

.card {
  background-color: var(--lumo-base-color);
  border: black;
  border-radius: var(--lumo-border-radius-m);
  box-shadow: var(--lumo-box-shadow-s);
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 4px 4px 4px;
}

.creation-card {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  max-width: 300px;
  flex: auto;
}

.creation-card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Styles shamelessly stolen from the vaadin primary theme */

.creation-card .button {
  background-color: var(--lumo-button-primary-background-color, var(--lumo-primary-color));
  color: var(--lumo-button-primary-color, var(--lumo-primary-contrast-color));
  font-weight: 600;
  min-width: calc(var(--lumo-button-size) * 2.5);
}

.creation-card .button::before {
  background-color: black;
}

.creation-card .button:hover::before {
  opacity: 0.05;
}

.disclaimer-card {
  display: flex;
  justify-content: center;
  padding: 1.0rem;
  max-width: 300px;
  flex: auto;
}

.disclaimer-card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.disclaimer-card .label {
  font-weight: normal;
  color: #2d2d2d;
  font-size: var(--lumo-font-size-s);
}

.disclaimer-card .title {
  font-weight: bold;
  color: #2d2d2d;
  font-size: var(--lumo-font-size-m);
  margin-bottom: 0.5rem;
}

/* Styles shamelessly stolen from the vaadin primary theme */

.disclaimer-card .button {
  background-color: var(--lumo-button-primary-background-color, var(--lumo-primary-color));
  color: var(--lumo-button-primary-color, var(--lumo-primary-contrast-color));
  font-weight: 600;
  min-width: calc(var(--lumo-button-size) * 2.5);
}

.disclaimer-card .button::before {
  background-color: black;
}

.disclaimer-card .button:hover::before {
  opacity: 0.05;
}

.experimental-group {
  display: flex;
  flex-direction: column;
  flex: auto;
  font-size: var(--lumo-font-size-s);
  padding: var(--lumo-space-l);
  max-width: 300px;
}

.experimental-group-card-collection {
  display: flex;
  align-content: space-evenly;
  flex-flow: row wrap;
  gap: 1rem;
}

.experimental-group .controls {

}

.experimental-group div {
  margin-bottom: 1em;
}

.experimental-group .tag-collection {
  display: inline-flex;
  flex-wrap: wrap;
}

.experimental-group .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.experimental-group .title {
  color: var(--lumo-header-text-color);
  font-size: var(--lumo-font-size-m);
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 1em;
}

.experimental-group vaadin-icon {
  cursor: pointer;
  width: 1em;
  color: darkgrey;
}

.card.experiment-info {
  flex: auto;
  font-size: var(--lumo-font-size-s);
  padding: var(--lumo-space-l);
  max-width: 300px;
}

.experiment-info .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.experiment-info ul {
  list-style-type: none;
  display: block;
}

.experiment-info .header {
  color: var(--lumo-header-text-color);
  font-size: var(--lumo-font-size-m);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.experiment-info .title {
  font-weight: bold;
}

.card.experimental-variables {
  flex: auto;
  font-size: var(--lumo-font-size-s);
  padding: var(--lumo-space-l);
}

.experimental-variables .header {
  color: var(--lumo-header-text-color);
  font-size: var(--lumo-font-size-m);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.experimental-variables .content {
  display: flex;
  align-content: space-evenly;
  flex-flow: row wrap;
  gap: 1rem;
}

.experimental-variables-fact-sheet {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  font-size: var(--lumo-font-size-s);
  border: 1px solid lightgray;
  border-radius: var(--lumo-border-radius-m);
}

.experimental-variables-fact-sheet .variable-header {
  background-color: var(--lumo-primary-color-10pct);
  color: var(--lumo-primary-text-color);
  font-weight: bold;
  font-size: var(--lumo-font-size-s);
  padding: 0.25rem 0.5rem 0.1rem 0.25rem;
}


.experimental-variables-fact-sheet .variable-name {
  font-weight: bold;
  font-size: var(--lumo-font-size-s);
}

.experimental-variables-fact-sheet .variable-values {
  font-size: var(--lumo-font-size-s);
  padding: 0.25rem 0.5rem 0.1rem 0.25rem;
}

.experimental-variables-fact-sheet ul {
  list-style-type: none;
  display: contents;
}

/* Support section formatting and components */

.experiment-item-collection {
  display: grid;
  row-gap: 1rem;
  grid-auto-rows: max-content;
}

/* Experiment item */

.experiment-item {
  display: block;
  height: 100px;
  width: 100%;
}

.experiment-item:hover {
  background-color: #e7effa;
  cursor: pointer;
}

.experiment-item .progress-tag{
  text-align: center;
  width: fit-content;

}

.experiment-item .experiment-title {
  font-weight: bold;
  padding-left: 1rem;
  color: #3f3f3f;
}

.experiment-item .content-section {
  padding: 1rem 1rem 0 0;
  display: flex;
  justify-content: space-between;
}

.experiment-item .progress-section {
  background-color: gainsboro;
  font-size: smaller;
  padding-left: 1rem;
}

.experiment-item .progress-section .incomplete{
  background-color: gainsboro;
}

.experiment-item vaadin-icon {
  color: #949494;
}

.experiment-item .active-section {
  padding-left: 1rem;
}

.experiment-item.selected {
  background-color: white;
  margin-left: 1rem;
}

.experiment-item.selected .content-section {
  padding: 1rem 2rem 0 0;
}

.experiment-item.selected vaadin-icon{
  color: var(--lumo-primary-color);

}
