.dialog {
}

.dialog::part(overlay) {
  width: 66vw;
}

.dialog .create-button {
  background-color: var(--lumo-primary-color);
  color: var(--lumo-primary-contrast-color);
  font-weight: 600;
  min-width: calc(var(--lumo-button-size) * 2.5);
}

.create-project-dialog {

}

.create-project-dialog .project-form-layout {
  max-width: 60vw;
  padding-bottom: 1em;
}

.create-project-dialog .code-and-title {
  align-items: baseline;
  width: 100%;
}

.create-project-dialog .code-and-title .code {
  max-width: 20vw;
}

.create-project-dialog .code-and-title .title {
  width: 100%;
}

.create-project-dialog .search {
  max-width: 30vw;
}

.create-project-dialog .project-contacts {
  margin: 0;
  padding: var(--lumo-space-m) 0 0;
}

.create-project-dialog .project-contacts .title {
  font-weight: bold;
}

.create-project-form vaadin-form-item::part(label) {
  font-weight: bold;
  color: black;
}
