.dialog-window::part(overlay) {
  width: 66vw;
}

.dialog-window .confirm-button {
  background-color: var(--lumo-primary-color);
  color: var(--lumo-primary-contrast-color);
  font-weight: 600;
  min-width: calc(var(--lumo-button-size) * 2.5);
}

.dialog-window .confirm-button:hover::before {
  opacity: 0.05;
}

.batch-registration-dialog {
  width: 100%;
  height: 100%;
}

.batch-registration-dialog .stepper vaadin-tabs {
  display: inline-flex;
}

.batch-registration-dialog .stepper vaadin-tab {
  gap: var(--lumo-space-s);
}

.batch-registration-dialog .batch-content {
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-m);
}

.batch-registration-dialog .batch-content .batch-information {
  display: flex;
  flex-direction: column;
}

.batch-registration-dialog .batch-content .title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-l);
  margin-bottom: 0.5rem;
}

.batch-registration-dialog .batch-content .data-type-information {
  display: flex;
  flex-direction: column;
}

.batch-registration-dialog .batch-content .data-type-information .title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-l);
  margin-bottom: 0.5rem;
}

.batch-registration-dialog .batch-content .buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: var(--lumo-space-s);
}

.batch-registration-dialog .sample-information {

}


.create-project-dialog .content {
  max-width: 60vw;
  padding-bottom: 1em;
}

.create-project-dialog .code-and-title {
  display: flex;
  gap: 1em;
  align-items: baseline;
}


.create-project-dialog .code-and-title .code {
    max-width: 20vw;
  }

  .create-project-dialog .code-and-title .title {
    width: 100%;
}

.create-project-dialog .search-field {
  max-width: 30vw;
}

.create-project-dialog .project-contacts {
  display: flex;
  gap: 1em;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: var(--lumo-space-m) 0 0;
}

.create-project-dialog .project-contacts .title {
  font-weight: bold;
}
