.card-deck {
  display: flex;
  align-content: space-evenly;
  flex-flow: row wrap;
}

.disclaimer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.disclaimer .disclaimer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--lumo-space-s);
}

.disclaimer .disclaimer-label {
  font-weight: normal;
  color: #2d2d2d;
  font-size: var(--lumo-font-size-s);
}

.disclaimer .disclaimer-title {
  font-weight: bold;
  color: #2d2d2d;
  font-size: var(--lumo-font-size-m);
  margin-bottom: 0.5rem;
}

/* Support section formatting and components */

.experiment-item-collection {
  display: flex;
  gap: var(--lumo-space-s);
  flex-flow: column;
}

.project-collection {
  display: flex;
  gap: 1rem;
  height: 100%;
  flex-flow: column;
}

.project-collection .controls {
  display: flex;
  align-content: space-between;
  gap: 1rem;
}

.project-collection .projects-grid {
  height: 100%;
  width: 100%;
}

.project-collection .projects-grid-section {
  height: 100%;
  width: 100%;
}

.tag-collection {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--lumo-space-xs);
  width: 100%;
}

/* vaadin badge styling*/
.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.4em calc(0.5em + var(--lumo-border-radius-s) / 4);
  color: var(--lumo-primary-text-color);
  background-color: var(--lumo-primary-color-10pct);
  border-radius: var(--lumo-border-radius-s);
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size-s);
  line-height: 1;
  font-weight: 500;
  text-transform: initial;
  letter-spacing: initial;
  min-width: calc(var(--lumo-line-height-xs) * 1em + 0.45em);
  flex-shrink: 0;
}

.tag::before {
  display: inline-block;
  content: '\2003';
  width: 0;
}

.tag.contrast {
  color: var(--lumo-contrast-80pct);
  background-color: var(--lumo-contrast-5pct);
}
