.main {
  display: grid;
  gap: 1rem 1px;
  height: 100%;
}

.main.experiment {
  grid-template-rows: minmax(130px, auto) 1fr;
  grid-template-areas:
    "navbar"
    "content";
  height: 100%;
}

.main.experiment .content {
  grid-area: content;
}

.main.project {
  grid-template-columns: minmax(min-content, 80%) minmax(min-content, 25%);
  grid-template-rows: minmax(10px, 100%);
  grid-template-areas:
    "content support";
  height: 100%;
}

.main.project .content {
  grid-area: content;
  height: 100%;
}

.main.project .support {
  grid-area: support;
  height: 100%;
}

.main.sample {
  grid-template-columns: minmax(max-content, 100%) minmax(min-content, 20%);
  grid-template-rows: minmax(130px, auto) 1fr;
  grid-template-areas:
    "navbar support"
    "content content";
  height: 100%;
}

.main.sample .content {
  grid-area: content;
}

.sample-page .support {
  grid-area: support;
}


/*Large devices (large desktops, 1200px and up)*/
@media only screen and (max-width: 1200px) {
  .main.experiment {
    grid-template-columns: minmax(1200px, 1fr);
    grid-template-areas:
        "navbar"
    "content";
    grid-auto-rows: auto;
  }

  .main.project {
    grid-template-columns: minmax(1200px, 1fr);
    grid-template-areas:
    "content"
    "support";
    grid-auto-rows: auto;
  }

  .main.sample {
    grid-template-columns: minmax(1200px, 1fr);
    grid-template-areas:
        "navbar"
    "content"
    "support";
    grid-auto-rows: auto;
  }
}
