/* All custom css for components within the navigation drawer go here */

.project-navigation-drawer {
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-m);
}

/*In order: Style in primary color: sideNav title (without it's children), prefix component (icon), suffix component and toggle button(only present if children are present) */
.project-navigation-drawer vaadin-side-nav-item.primary::part(item),
.project-navigation-drawer vaadin-side-nav-item.primary [slot="prefix"],
.project-navigation-drawer vaadin-side-nav-item.primary [slot="suffix"],
.project-navigation-drawer vaadin-side-nav-item::part(toggle-button) {
  color: var(--lumo-primary-color);
}

.project-navigation-drawer vaadin-side-nav-item.hoverable::part(item):hover {
  background-color: var(--lumo-primary-color-10pct);
}

.project-navigation-drawer .project-section {
  display: inline-flex;
  flex-direction: column;
  gap: var(--lumo-space-s);
}

/*ToDo Encapsulate this */
.recent-projects-header {
  color: var(--lumo-tertiary-text-color);
}

/*ToDo Encapsulate this */
vaadin-select-list-box {
  margin-left: var(--lumo-space-l);
  margin-top: var(--lumo-space-s);
}

/*ToDo Encapsulate this Adds same hover effect to project overview span as is set for project list items*/
.overview-route:hover {
  display: inline-block;
  width: 100%;
  background-color: var(--lumo-primary-color-10pct);
  cursor: default;
}

.project-navigation-drawer .project-section .project-item {
  display: inline-flex;
  gap: var(--lumo-space-m);
}

.project-navigation-drawer.experiment-section .content {
  display: flex;
  flex-flow: column;
  gap: var(--lumo-space-m);
}

.project-select {
  padding-left: var(--lumo-space-s);
  padding-right: var(--lumo-space-s);
}

/*Highlight select box toggle button if a project has been selected*/
vaadin-select[has-value].project-select::part(toggle-button) {
  color: var(--lumo-primary-color);
}

/*Highlight select box background if a project has been selected*/
vaadin-select[has-value].project-select::part(input-field) {
  background-color: var(--lumo-primary-color-10pct);
}
