/* All custom css for components within the navigation drawer go here */

.project-navigation-drawer {
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-m);
}

.project-navigation-drawer-title {
  font-weight: bold;
  font-size: var(--lumo-font-size-xl);
  margin-left: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
  margin-bottom: var(--lumo-space-l);
}

/*In order: Style in primary color: sideNav title (without it's children), prefix component (icon), suffix component and toggle button(only present if children are present) */
.project-navigation-drawer vaadin-side-nav-item.primary::part(item),
.project-navigation-drawer vaadin-side-nav-item.primary [slot="prefix"],
.project-navigation-drawer vaadin-side-nav-item.primary [slot="suffix"],
.project-navigation-drawer vaadin-side-nav-item::part(toggle-button) {
  color: var(--lumo-primary-color);
}

.project-navigation-drawer vaadin-side-nav-item.hoverable::part(item):hover {
  background-color: var(--lumo-primary-color-10pct);
}

.project-navigation-drawer .project-section {
  display: inline-flex;
  flex-direction: column;
  gap: var(--lumo-space-s);
}

.project-navigation-drawer .project-section .project-item {
  display: inline-flex;
  gap: var(--lumo-space-m);
}

.project-navigation-drawer.experiment-section .content {
  display: flex;
  flex-flow: column;
  gap: var(--lumo-space-m);
}

.project-select-menu {
  padding-left: var(--lumo-space-s);
  padding-right: var(--lumo-space-s);
  width: 100%;
}

.recent-projects-header {
  color: var(--lumo-tertiary-text-color);
  margin-left: var(--lumo-space-l);
}

.selected-project {
  width: 100%;
  display: inline-flex;
  gap: var(--lumo-space-s);
}
