.banner {
  align-items: flex-start;
  border-radius: var(--lumo-border-radius-l);
  background-color: var(--lumo-contrast-10pct);
  display: flex;
  flex-direction: row;
  gap: var(--lumo-space-s);
  justify-content: flex-start;
  font-size: var(--lumo-font-size-s);
  text-align: left;
  padding: var(--lumo-space-s);
  padding-left: 0;
}

.banner vaadin-icon {
  width: var(--lumo-icon-size-l);
  height: var(--lumo-icon-size-m);
}

.banner .content {
  margin-left: var(--lumo-space-m);
  margin-right: var(--lumo-space-m);
  display: flex;
  flex-direction: column;
  row-gap: var(--lumo-space-s);
}

.banner .title {
  font-size: var(--lumo-font-size-m);
  font-weight: bold;
  margin-bottom: 0;
  color: inherit;
}

.banner.information {
  background-color: var(--lumo-primary-color-10pct);
  color: var(--lumo-primary-text-color);
}

.banner.error {
  background-color: var(--lumo-error-color-50pct);
  color: var(--lumo-error-text-color);
}

.banner.warning {
  background-color: rgba(255, 165, 0, 0.5);
  color: darkorange;
}
