.project-collection {
  display: flex;
  gap: 1rem;
  height: 100%;
  flex-flow: column;
}

.project-collection .controls {
  display: flex;
  align-content: space-between;
  gap: 1rem;
}

.project-collection .projects-grid {
  height: 100%;
  width: 100%;
}

.project-collection .projects-grid-section {
  height: 100%;
  width: 100%;
}
