/****************************************

Data Manager custom CSS layout definition

*****************************************/

/*
First some general property definitions
*/
:root {
  --dialog-height-small: clamp(min-content, 50vh, 75vh);
  --dialog-height-medium: clamp(min-content, 75vh, 100vh);
  --dialog-height-large: 100vh;
  --dialog-height-max-small: 500px;
  --dialog-height-max-medium: 800px;
  --dialog-height-max-large: 100vh;
  --dialog-width-small: 50vw;
  --dialog-width-medium: 75vw;
  --dialog-width-large: 80vw;
  --dialog-width-max-small: 600px;
  --dialog-width-max-medium: 1000px;
  --dialog-width-max-large: 1200px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --border-color-default: var(--lumo-contrast-30pct);
  --border-color-dialog: rgba(26, 56, 96, 0.1);
  --icon-color-primary: var(--lumo-primary-color);
  --icon-color-info: rgba(22, 118, 243, 1);
  --icon-color-error: rgba(255, 66, 56, 1);
  --icon-color-success: rgba(21, 193, 93, 1);
  --icon-color-warning: rgba(254, 201, 1, 1);
  --icon-color-default: rgba(28, 46, 69, 0.6);
  --icon-size-xs: 1rem;
  --icon-size-s: 1.25rem; /*--lumo-icon-size-s*/
  --icon-size-m: 1.5rem; /*--lumo-icon-size-m*/
  --icon-size-l: 2rem;
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem; /*lumo-space-xs*/
  --spacing-03: 0.5rem; /*lumo-space-s*/
  --spacing-04: 1rem; /*lumo-space-m*/
  --spacing-05: 1.5rem; /*lumo-space-l*/
  --spacing-06: 2rem;
  --spacing-07: 2.5rem; /*lumo-space-xl*/
  --spacing-08: 3rem;
  --spacing-09: 3.5rem; /*--lumo-size-xl*/
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
}

/*region Fonts*/

/*region Heading*/
/*
Heading
 */
.heading-1 {
  font-size: var(--lumo-font-size-xxxl);
  font-weight: var(--font-weight-semi-bold);
}

.heading-2 {
  font-size: var(--lumo-font-size-xxl);
  font-weight: var(--font-weight-semi-bold);
}

.heading-3 {
  font-size: var(--lumo-font-size-xl);
  font-weight: var(--font-weight-semi-bold);
}

.heading-4 {
  font-size: var(--lumo-font-size-l);
  font-weight: var(--font-weight-semi-bold);
}

.heading-5 {
  font-size: var(--lumo-font-size-m);
  font-weight: var(--font-weight-semi-bold);
}

.heading-6 {
  font-size: var(--lumo-font-size-xs);
  font-weight: var(--font-weight-semi-bold);
}

/*endregion*/

/*region body text*/
.normal-body-text {
  font-size: var(--lumo-font-size-m);
  line-height: var(--lumo-line-height-m);
  font-weight: var(--font-weight-regular);
}

.small-body-text {
  font-size: var(--lumo-font-size-s);
  line-height: var(--lumo-line-height-s);
  font-weight: var(--font-weight-regular);
}

.extra-small-body-text {
  font-size: var(--lumo-font-size-xs);
  line-height: var(--lumo-line-height-xs);
  font-weight: var(--font-weight-regular);
}

/*endregion*/

.field-label-text {
  font-size: var(--lumo-font-size-s);
  line-height: var(--lumo-line-height-xs);
  font-weight: var(--font-weight-medium);
}

.input-field-text {
  font-size: var(--lumo-font-size-m);
  line-height: var(--lumo-line-height-s);
  font-weight: var(--font-weight-medium);
}

.list-item-text {
  font-size: var(--lumo-font-size-m);
  line-height: var(--spacing-07);
  font-weight: var(--font-weight-regular);
}

.button-text {
  font-size: var(--lumo-font-size-m);
  line-height: var(--lumo-line-height-xs);
  font-weight: var(--font-weight-medium);
}

.button-text-primary {
  font-size: var(--lumo-font-size-m);
  line-height: var(--lumo-line-height-xs);
  font-weight: var(--font-weight-semi-bold);
}

/*endregion*/

/*region Padding*/
/*region padding all*/
.padding-01 {
  padding: var(--spacing-01);
}

.padding-02 {
  padding: var(--spacing-02);
}

.padding-03 {
  padding: var(--spacing-03);
}

.padding-04 {
  padding: var(--spacing-04);
}

.padding-05 {
  padding: var(--spacing-05);
}

.padding-06 {
  padding: var(--spacing-06);
}

.padding-07 {
  padding: var(--spacing-07);
}

/*endregion*/
/*region padding top bottom*/
.padding-vertical-01 {
  padding-top: var(--spacing-01);
  padding-bottom: var(--spacing-01);
}

.padding-vertical-02 {
  padding-top: var(--spacing-02);
  padding-bottom: var(--spacing-02);
}

.padding-vertical-03 {
  padding-top: var(--spacing-03);
  padding-bottom: var(--spacing-03);
}

.padding-vertical-04 {
  padding-top: var(--spacing-04);
  padding-bottom: var(--spacing-04);
}

.padding-vertical-05 {
  padding-top: var(--spacing-05);
  padding-bottom: var(--spacing-05);
}

.padding-vertical-06 {
  padding-top: var(--spacing-06);
  padding-bottom: var(--spacing-06);
}

.padding-vertical-07 {
  padding-top: var(--spacing-07);
  padding-bottom: var(--spacing-07);
}

/*endregion*/
/*region padding left right*/
.padding-horizontal-01 {
  padding-left: var(--spacing-01);
  padding-right: var(--spacing-01);
}

.padding-horizontal-02 {
  padding-left: var(--spacing-02);
  padding-right: var(--spacing-02);
}

.padding-horizontal-03 {
  padding-left: var(--spacing-03);
  padding-right: var(--spacing-03);
}

.padding-horizontal-04 {
  padding-left: var(--spacing-04);
  padding-right: var(--spacing-04);
}

.padding-horizontal-05 {
  padding-left: var(--spacing-05);
  padding-right: var(--spacing-05);
}

.padding-horizontal-06 {
  padding-left: var(--spacing-06);
  padding-right: var(--spacing-06);
}

.padding-horizontal-07 {
  padding-left: var(--spacing-07);
  padding-right: var(--spacing-07);
}

/*endregion*/
/*region padding top*/
.padding-top-01 {
  padding-top: var(--spacing-01);
}

.padding-top-02 {
  padding-top: var(--spacing-02);
}
.padding-top-03 {
  padding-top: var(--spacing-03);
}

.padding-top-04 {
  padding-top: var(--spacing-04);
}

.padding-top-05 {
  padding-top: var(--spacing-05);
}

.padding-top-06 {
  padding-top: var(--spacing-06);
}

.padding-top-07 {
  padding-top: var(--spacing-07);
}

/*endregion*/
/*region padding right*/
.padding-right-01 {
  padding-right: var(--spacing-01);
}

.padding-right-02 {
  padding-right: var(--spacing-02);
}

.padding-right-03 {
  padding-right: var(--spacing-03);
}

.padding-right-04 {
  padding-right: var(--spacing-04);
}

.padding-right-05 {
  padding-right: var(--spacing-05);
}

.padding-right-06 {
  padding-right: var(--spacing-06);
}

.padding-right-07 {
  padding-right: var(--spacing-07);
}

/*endregion*/
/*region padding bottom*/
.padding-bottom-01 {
  padding-bottom: var(--spacing-01);
}

.padding-bottom-02 {
  padding-bottom: var(--spacing-02);
}

.padding-bottom-03 {
  padding-bottom: var(--spacing-03);
}

.padding-bottom-04 {
  padding-bottom: var(--spacing-04);
}

.padding-bottom-05 {
  padding-bottom: var(--spacing-05);
}

.padding-bottom-06 {
  padding-bottom: var(--spacing-06);
}

.padding-bottom-07 {
  padding-bottom: var(--spacing-07);
}

/*endregion*/
/*region padding left*/
.padding-left-01 {
  padding-left: var(--spacing-01);
}

.padding-left-02 {
  padding-left: var(--spacing-02);
}

.padding-left-03 {
  padding-left: var(--spacing-03);
}

.padding-left-04 {
  padding-left: var(--spacing-04);
}

.padding-left-05 {
  padding-left: var(--spacing-05);
}

.padding-left-06 {
  padding-left: var(--spacing-06);
}

.padding-left-07 {
  padding-left: var(--spacing-07);
}

/*endregion*/
/*endregion*/

/*region Margins*/
/*region margin all*/
.margin-01 {
  margin: var(--spacing-01);
}

.margin-02 {
  margin: var(--spacing-02);
}

.margin-03 {
  margin: var(--spacing-03);
}

.margin-04 {
  margin: var(--spacing-04);
}

.margin-05 {
  margin: var(--spacing-05);
}

.margin-06 {
  margin: var(--spacing-06);
}

.margin-07 {
  margin: var(--spacing-07);
}

/*endregion*/
/*region margin top bottom*/
.margin-vertical-01 {
  margin-top: var(--spacing-01);
}

.margin-vertical-02 {
  margin-top: var(--spacing-02);
}

.margin-vertical-03 {
  margin-top: var(--spacing-03);
}

.margin-vertical-04 {
  margin-top: var(--spacing-04);
}

.margin-vertical-05 {
  margin-top: var(--spacing-05);
}

.margin-vertical-06 {
  margin-top: var(--spacing-06);
}

.margin-vertical-07 {
  margin-top: var(--spacing-07);
}

/*endregion*/
/*region margin left right*/
.margin-horizontal-01 {
  margin-left: var(--spacing-01);
}

.margin-horizontal-02 {
  margin-left: var(--spacing-02);
}

.margin-horizontal-03 {
  margin-left: var(--spacing-03);
}

.margin-horizontal-04 {
  margin-left: var(--spacing-04);
}

.margin-horizontal-05 {
  margin-left: var(--spacing-05);
}

.margin-horizontal-06 {
  margin-left: var(--spacing-06);
}

.margin-horizontal-07 {
  margin-left: var(--spacing-07);
}

/*endregion*/
/*region margin top*/
.margin-top-01 {
  margin-top: var(--spacing-01);
}

.margin-top-02 {
  margin-top: var(--spacing-02);
}

.margin-top-03 {
  margin-top: var(--spacing-03);
}

.margin-top-04 {
  margin-top: var(--spacing-04);
}

.margin-top-05 {
  margin-top: var(--spacing-05);
}

.margin-top-06 {
  margin-top: var(--spacing-06);
}

.margin-top-07 {
  margin-top: var(--spacing-07);
}

/*endregion*/
/*region margin right*/
.margin-right-01 {
  margin-right: var(--spacing-01);
}

.margin-right-02 {
  margin-right: var(--spacing-02);
}

.margin-right-03 {
  margin-right: var(--spacing-03);
}

.margin-right-04 {
  margin-right: var(--spacing-04);
}

.margin-right-05 {
  margin-right: var(--spacing-05);
}

.margin-right-06 {
  margin-right: var(--spacing-06);
}

.margin-right-07 {
  margin-right: var(--spacing-07);
}

/*endregion*/
/*region margin bottom*/
.margin-bottom-01 {
  margin-bottom: var(--spacing-01);
}

.margin-bottom-02 {
  margin-bottom: var(--spacing-02);
}

.margin-bottom-03 {
  margin-bottom: var(--spacing-03);
}

.margin-bottom-04 {
  margin-bottom: var(--spacing-04);
}

.margin-bottom-05 {
  margin-bottom: var(--spacing-05);
}

.margin-bottom-06 {
  margin-bottom: var(--spacing-06);
}

.margin-bottom-07 {
  margin-bottom: var(--spacing-07);
}

/*endregion*/
/*region margin left*/
.margin-left-01 {
  margin-left: var(--spacing-01);
}

.margin-left-02 {
  margin-left: var(--spacing-02);
}

.margin-left-03 {
  margin-left: var(--spacing-03);
}

.margin-left-04 {
  margin-left: var(--spacing-04);
}

.margin-left-05 {
  margin-left: var(--spacing-05);
}

.margin-left-06 {
  margin-left: var(--spacing-06);
}

.margin-left-07 {
  margin-left: var(--spacing-07);
}

/*endregion*/
/*endregion*/

/*region Gaps*/
.gap-02 {
  gap: var(--spacing-02);
}

.gap-03 {
  gap: var(--spacing-03);
}

.gap-04 {
  gap: var(--spacing-04);
}

.gap-05 {
  gap: var(--spacing-05);
}

.gap-06 {
  gap: var(--spacing-06);
}

.gap-07 {
  gap: var(--spacing-07);
}

.column-gap-02 {
  column-gap: var(--spacing-02);
}

.column-gap-03 {
  column-gap: var(--spacing-03);
}

.column-gap-04 {
  column-gap: var(--spacing-04);
}

.column-gap-05 {
  column-gap: var(--spacing-05);
}

.column-gap-06 {
  column-gap: var(--spacing-06);
}

.column-gap-07 {
  column-gap: var(--spacing-07);
}

/*endregion*/

/*region Colors*/
/***************************
Colors
***************************/
.color-primary {
  color: var(--lumo-primary-text-color)
}

.color-secondary {
  color: var(--lumo-secondary-text-color)
}

.color-tertiary {
  color: var(--lumo-tertiary-text-color)
}

/*endregion*/

/*region Behaviour*/
.clickable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.dragging {
  cursor: grabbing;
}

/*the class .v-drag-over-target is assigned by vaadin if a drop event is active and the dragged element hovers over the drag target*/
.drop-above.v-drag-over-target {
  border-top: solid var(--lumo-primary-color) var(--spacing-02);
}

.drop-below.v-drag-over-target {
  border-bottom: solid var(--lumo-primary-color) var(--spacing-02);
}

.drop-left.v-drag-over-target {
  border-left: solid var(--lumo-primary-color) var(--spacing-02);
}

.drop-right.v-drag-over-target {
  border-right: solid var(--lumo-primary-color) var(--spacing-02);
}

/*endregion*/

/*region Dialogs*/
/*region Sections*/
.dialog-section {
  display: flex;
  flex-direction: column;
}

/*endregion*/
/*region Dialog Flavors*/

.dialog-app,
.button-text,
.button-text-primary {
  margin: 0;
}

.dialog-small::part(overlay) {
  width: var(--dialog-width-small);
  max-width: var(--dialog-width-max-small);
  height: var(--dialog-height-small);
  max-height: var(--dialog-height-max-small);
}

.dialog-medium::part(overlay) {
  width: var(--dialog-width-medium);
  max-width: var(--dialog-width-max-medium);
  height: var(--dialog-height-medium);
  max-height: var(--dialog-height-max-medium);
}

.dialog-large::part(overlay) {
  width: var(--dialog-width-large);
  max-width: var(--dialog-width-max-large);
  height: var(--dialog-height-large);
  max-height: var(--dialog-height-max-large);
}

/*endregion*/
/*region Dialog Header*/
.dialog-app::part(header)  {
  padding: 0;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color-dialog);
  border-bottom-width: 1px;
}

.dialog-header-text-color {
  color: var(--lumo-header-text-color);
}

/*endregion*/
/*region Dialog Content*/
.dialog-app::part(content)  {
  padding: 0;
}

.dialog-step-name-text {
  font-size: var(--lumo-font-size-m);
  font-weight: var(--font-weight-medium);
  line-height: var(--lumo-line-height-xs);
}

.dialog-step-icon-arrow {
  font-size: 12px;
}

/*endregion*/
/*region Dialog Footer*/
.dialog-app::part(footer)  {
  padding: 0;
  background-color: white;
  border-top-style: solid;
  border-top-color: var(--border-color-dialog);
  border-top-width: 1px;
}

.footer {
  justify-content: flex-end;
}

.footer-intermediate {
  justify-content: space-between;
  width: 100%;
}

/*endregion*/
/*endregion*/

/*region Buttons*/
.button-color-primary {
  color: var(--lumo-primary-contrast-color);
  background-color: var(--lumo-primary-color);
}

/*endregion*/

/*region Icons*/
/***************************
Icons
****************************/

.icon-color-warning {
  color: var(--icon-color-warning)
}

.icon-size-xs {
  height: var(--icon-size-xs);
  width: var(--icon-size-xs);
}

.icon-size-s {
  height: var(--icon-size-s);
  width: var(--icon-size-s);
}

.icon-size-m {
  height: var(--icon-size-m);
  width: var(--icon-size-m);
}

.icon-size-l {
  height: var(--icon-size-l);
  width: var(--icon-size-l);
}

.round {
  border-radius: 50%;
}

.icon-background-color-default {
  background-color: var(--icon-color-default);
}

.icon-background-color-primary {
  background-color: var(--icon-color-primary);
}

.icon-color-default {
  color: var(--icon-color-default);
}

.icon-text-white {
  color: white;
}

.icon-text-inner {
  font-size: 0.875rem;
}

.icon-label-text {
  font-size: 0.875rem;
}

.icon-label-text-color-default {
  color: var(--icon-color-default);
}

.icon-label-text-color-primary {
  color: var(--icon-color-primary);
}

.icon-content-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

/*endregion*/

/*region Layouts*/
.flex-align-items-center {
  align-items: center;
}

.flex-align-items-baseline {
  align-items: baseline;
}

.flex-align-items-bottom {
  align-items: self-end;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.white-space-nowrap {
  white-space: nowrap;
}

.width-full {
  width: 100%;
}

.width-50-pct {
  width: 50%;
}

.height-full {
  height: 100%;
}

.height-50-pct {
  height: 50%;
}

/*endregion*/


/*region Borders*/
.border {
  border: 0 solid var(--border-color-default);
}

.border.border-left-right {
  border-left-width: 1px;
  border-right-width: 1px;
}

.border.border-top-bottom {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border.border-complete {
  border-width: 1px;
}

.border.border-top {
  border-top-width: 1px;
}

.border.border-right {
  border-right-width: 1px;
}

.border.border-bottom {
  border-bottom-width: 1px;
}

.border.border-left {
  border-left-width: 1px;
}

.border-color-default {
  border-color: var(--border-color-default);
}

.border-color-dialog {
  border-color: var(--border-color-dialog);
}

.border.solid {
  border-style: solid;
}

.border.dashed {
  border-style: dashed;
}

.border.round {
  border-radius: 50%;
}

.border.rounded-02 {
  border-radius: var(--spacing-02);
}

.border.rounded-03 {
  border-radius: var(--spacing-03);
}

/*endregion*/

/****************************
Older stuff -
****************************/
/*region Announcements*/
#announcements {
  background-color: var(--icon-color-warning);
  padding: var(--spacing-03) var(--spacing-04);
  text-align: left;
}

.announcement {
  margin: var(--spacing-03) 0;
  display: flex;
  gap: var(--spacing-03);
}

.announcement vaadin-icon {
  min-width: var(--icon-size-s);
  max-width: var(--icon-size-s);
  color: var(--icon-color-default);
}

.announcement-text {
  display: inline;
}

/*endregion*/

.heading-with-icon {
  color: #878787;
  column-gap: var(--spacing-03);
  display: flex;
  flex-direction: row;
  font-weight: bold;
  line-height: 1;
  font-size: var(--lumo-space-m);
}

.heading-with-icon vaadin-icon {
  height: auto;
}

.section {
  width: 100%;
}

.section-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.trailing-margin-large {
  margin-bottom: var(--lumo-space-xl);
}

.trailing-margin-normal {
  margin-bottom: var(--lumo-space-l);
}

.trailing-margin-small {
  margin-bottom: var(--spacing-03);
}

.section-header-row {
  display: flex;
  width: 100%;
}

.section-title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  margin-bottom: 0.5rem;
  width: 100%;
}

.font-size-small {
  font-size: var(--lumo-font-size-l);
}

.font-size-medium {
  font-size: var(--lumo-font-size-xl);
}

.font-size-large {
  font-size: var(--lumo-font-size-xxl);
}

.sub-header {
  font-size: var(--lumo-font-size-s);
  color: #878787;
  margin-bottom: 0.5rem;
}

.tag-list {
  width: 100%;
  display: flex;
}

.detail-box {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: var(--spacing-03);
  max-height: 10rem;
}

.detail-box-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--spacing-03);
  font-size: var(--lumo-font-size-m);
  font-weight: bold;
  color: #878787;
  line-height: 1;
}

.detail-box-header vaadin-icon {
  height: auto;
}

.detail-box-child {
  border-width: 1px 1px 1px 1px;
  border-color: lightgray;
  padding: var(--lumo-space-m) var(--lumo-space-m) var(--lumo-space-m);
}

.detail-box-child:first-child {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: lightgray;
}

.icon-label {
  font-size: var(--lumo-font-size-m);
  line-height: 1;
  display: flex;
  flex-direction: row;
  gap: var(--lumo-space-l);
}

.icon-label-container {
  display: flex;
  flex-direction: row;
  font-size: var(--lumo-font-size-m);
  color: #878787;
  font-weight: bold;
  gap: var(--spacing-03);
}

.icon-label-container vaadin-icon {
  height: auto;
}

.vertical-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dynamic-growing-flex-item {
  flex-grow: 1;
}

.wrapping-flex-container {
  flex-wrap: wrap;
}

.overflow-hidden-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.allow-row-wrap {
  flex-wrap: wrap;
}

.overflow-scroll-height {
  overflow: auto;
}

.fixed-medium-width {
  width: 25rem;
}

.simple-paragraph {
  font-size: var(--lumo-font-size-m);
  margin-bottom: var(--lumo-space-m);
}

.background-color-grey {
  background-color: #F9F9F9;
}

.text-justify {
  text-align: justify;
}

.line-height-01 {
  line-height: 1.7rem;
}

.max-width-55rem {
  max-width: 55rem;
}


.overflow-auto {
  overflow: auto;
}

.draggable:hover {
  cursor: grab;
}
