.navigation-button {
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-m);
  align-items: center;
  flex: 1 1;
}

.button-bar {
  display: inline-flex;
  column-gap: var(--spacing-03);
}

.navigation-button .button {
  box-shadow: var(--lumo-box-shadow-xs);
}

.navigation-button .label {
  font-size: var(--lumo-font-size-s)
}

/* Styles recreated from vaadin lumo theme */
vaadin-button.primary {
  background-color: var(--lumo-button-primary-background-color, var(--lumo-primary-color));
  color: var(--lumo-button-primary-color, var(--lumo-primary-contrast-color));
  font-weight: 600;
  min-width: calc(var(--lumo-button-size) * 2.5);
}

vaadin-button.danger {
  background-color: var(--lumo-error-color, var(--lumo-error-color));
  color: var(--lumo-button-primary-color, var(--lumo-primary-contrast-color));
}

vaadin-button.danger[focus-ring] {
  box-shadow: none !important;
}

/* Styles recreated from vaadin lumo theme */
vaadin-button[disabled] {
  background-color: var(--lumo-contrast-30pct);
  color: var(--lumo-base-color);
}

vaadin-button.primary .button::before {
  background-color: black;
}

vaadin-button.primary .button:hover::before {
  opacity: 0.05;
}

vaadin-button.tertiary {
  padding: 0 calc(var(--lumo-button-size) / 6);
  background-color: transparent !important;
  min-width: 0;
}

vaadin-button {
  cursor: pointer;
}

vaadin-button[theme~="tertiary"] vaadin-icon,
vaadin-button[theme~="tertiary-inline"] vaadin-icon {
  /*color: var(--lumo-tertiary-text-color)*/
}
