/* All custom css for components which extend the card component go in here! */

.card {
  background-color: var(--lumo-base-color);
  border: black;
  border-radius: var(--lumo-border-radius-m);
  box-shadow: var(--lumo-box-shadow-s);
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 4px 4px 4px;
}

.creation-card {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  flex: auto;
  max-width: 300px;
}

.creation-card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.creation-card .disclaimer-area {
  font-size: smaller;
}

/* Styles shamelessly stolen from the vaadin primary theme */

.creation-card .button {
  background-color: var(--lumo-button-primary-background-color, var(--lumo-primary-color));
  color: var(--lumo-button-primary-color, var(--lumo-primary-contrast-color));
  font-weight: 600;
  min-width: calc(var(--lumo-button-size) * 2.5);
}

.creation-card .button::before {
  background-color: black;
}

.creation-card .button:hover::before {
  opacity: 0.05;
}

.experimental-group {
  display: flex;
  flex-direction: column;
  flex: auto;
  font-size: var(--lumo-font-size-s);
  padding: var(--lumo-space-l);
  max-width: 300px;
}

.card-collection {
  display: flex;
  align-content: space-evenly;
  flex-flow: column;
  gap: 1rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.card-collection .collection-title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-m);
  margin-bottom: 0.5rem;
}

.card-collection .collection-header {
  justify-content: space-between;
  display: flex;
}

.card-collection .collection-content {
  display: flex;
  align-content: space-evenly;
  flex-flow: row wrap;
  gap: 1rem;
  flex-direction: row;
}

.card-collection .collection-controls {
  display: flex;
  align-content: space-evenly;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.experimental-group .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: var(--lumo-space-m);
}

.experimental-group .card-title {
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-m);
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.experimental-group .content {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--lumo-space-m);
  margin-bottom: var(--lumo-space-m);
}

.experimental-group vaadin-icon {
  cursor: pointer;
  width: 1em;
  color: darkgrey;
}

.card.experiment-info {
  flex: auto;
  font-size: var(--lumo-font-size-s);
  padding: var(--lumo-space-l);
  max-width: 300px;
}

.card.experiment-info .title {
  font-size: var(--lumo-font-size-l);
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
}

.card.experiment-info .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.experiment-info ul {
  list-style-type: none;
  display: block;
}

.experiment-info .header {
  color: var(--lumo-header-text-color);
  font-size: var(--lumo-font-size-m);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.experiment-info .title {
  font-weight: bold;
}

/* Experiment item */

.experiment-item {
  display: block;
  min-height: 100px;
  width: 100%;
}

.experiment-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.experiment-item .experiment-title {
  font-weight: bold;
  padding-left: 1rem;
  color: #3f3f3f;
}

.experiment-item .content-section {
  padding: 1rem 1rem 0 0;
  display: flex;
  justify-content: space-between;
}

.experiment-item .progress-section {
  background-color: gainsboro;
  font-size: smaller;
  padding-left: 1rem;
}

.experiment-item .progress-section .incomplete{
  background-color: gainsboro;
}

.experiment-item vaadin-icon {
  color: #949494;
  min-width: var(--lumo-icon-size-m);
  min-height: var(--lumo-icon-size-m);
}

.experiment-item .active-section {
  padding-left: 1rem;
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-l);
}

.experiment-item.selected {
  background-color: white;
  margin-left: 1rem;
}

.experiment-item.selected .content-section {
  padding: 1rem 2rem 0 0;
}

.experiment-item.selected vaadin-icon{
  color: var(--lumo-primary-color);
}
