/* This file defines the styling and layout for all custom components. The components are sorted alphabetically */

/*Make sure to import the css classes for each custom component to avoid cluttering the master-style-sheet */
@import "button.css";
@import "card.css";
@import "combobox.css";
@import "dialog.css";
@import "div.css";
@import "image.css";
@import "info.css";
@import "icon.css";
@import "main.css";
@import "navbar.css";
@import "navigation-drawer.css";
@import "page-area.css";
@import "span.css";
@import "spreadsheet.css";
@import "vaadin-custom.css";
@import "virtuallist.css";
@import "toast.css";

vaadin-avatar-group vaadin-avatar,
.user-avatar {
  background-color: white;
  border-color: var(--lumo-contrast-20pct);
}

.avatar-with-name {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: var(--lumo-space-s);
  row-gap: initial;
}
