/*Ensures consistent dialog size via dedicated variable breakpoints*/
/*Todo Discuss current sizes with Shraddha especially on smaller screens*/
:root {
  --small-dialog-height: 60%;
  --medium-dialog-height: 80%;
  --full-dialog-height: 100%;
  --small-dialog-width: 50%;
  --medium-dialog-width: 75%;
  --full-dialog-width: 100%;
}

.add-project-dialog::part(overlay) {
  height: var(--full-dialog-height);
  width: var(--medium-dialog-width);
}

.add-project-dialog .collaborators-layout {
  row-gap: var(--lumo-space-m);
  display: flex;
  flex-direction: column;
}

.add-project-dialog .footer-right-buttons-container {
  display: inline-flex;
  column-gap: var(--lumo-space-s);
  /*Ensure maximum distance between the back button and the right buttons*/
  margin-left: auto;
}

.add-project-dialog .experiment-information-layout {
  row-gap: var(--lumo-space-m);
  display: flex;
  flex-direction: column;
}

.add-project-dialog .experiment-information-layout .experiment-name-field {
  width: 50%
}

.add-project-dialog .funding-information-layout {
  row-gap: var(--lumo-space-m);
  display: flex;
  flex-direction: column;
}

.add-project-dialog
.add-project-dialog .funding-information-layout .funding-field .grant-label-field {
  min-width: 15vw;
}

.add-project-dialog .funding-information-layout .funding-field .input-fields {
  width: 100%;
  gap: var(--lumo-space-xl);
  display: inline-flex;
}

.add-project-dialog .project-design-layout {
  row-gap: var(--lumo-space-m);
  display: flex;
  flex-direction: column;
}

.add-project-dialog .project-design-layout .description-field {
  min-height: 150px;
}

.add-project-dialog .project-design-layout .title-field {
  flex-grow: 1;
  margin-left: var(--lumo-space-m);
}

.add-project-dialog .project-design-layout .code-field {
  flex-grow: 0;
}

.add-project-dialog .project-design-layout .search-field {
  width: 30%;
}

.add-project-dialog .project-design-layout .code-and-title {
  column-gap: var(--lumo-space-s);
  display: inline-flex;
  align-items: baseline;
}

.add-user-to-project-dialog::part(overlay) {
  height: var(--medium-dialog-height);
  width: var(--medium-dialog-width);
}

.add-user-to-project-dialog .search-field {
  width: 30%;
}

.batch-update-dialog::part(overlay),
.batch-registration-dialog::part(overlay) {
  width: var(--full-dialog-width);
  height: var(--full-dialog-height)
}

.batch-update-dialog .batch-name,
.batch-update-dialog .experiment-name,
.batch-registration-dialog .experiment-name {
  margin: auto 0.3em;
  font-weight: bolder;
}

.batch-registration-dialog .prefill-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.batch-registration-dialog .spreadsheet-container,
.batch-update-dialog .spreadsheet-container {
  display: flex;
  flex-direction: column;
  column-gap: var(--lumo-space-s);
  margin-top: var(--lumo-space-m);
}

.batch-registration-dialog .spreadsheet-header,
.batch-update-dialog .spreadsheet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.batch-update-dialog .spreadsheet-controls,
.batch-registration-dialog .spreadsheet-controls {
  display: inline-flex;
  column-gap: var(--lumo-space-s);
  justify-content: end;
}

.batch-update-dialog .spreadsheet-controls .error-text,
.batch-registration-dialog .spreadsheet-controls .error-text {
  color: var(--lumo-error-text-color);
}

.batch-update-dialog .batch-controls > .batch-name-field,
.batch-registration-dialog .batch-controls > .batch-name-field {
  width: calc(100% / 3);
}

.contact-field .contact-selection,
.contact-field .input-fields,
.contact-field .input-fields > * {
  width: 100%;
}

.dialog-window .confirm-button:hover::before {
  opacity: 0.05;
}

.dialog-window::part(overlay) {
  min-width: var(--small-dialog-width);
  min-height: var(--small-dialog-height);
}

.dialog-window::part(content) {
  display: flex;
  flex-direction: column;
  border-bottom: thin solid var(--lumo-contrast-20pct);
  border-top: thin solid var(--lumo-contrast-20pct);
  gap: var(--lumo-space-m);
}

.dialog-window::part(footer) {
  background-color: transparent;
  display: inline-flex;
  column-gap: var(--lumo-space-s);
  padding-top: var(--lumo-space-l);
  /*Dialog footer should also adhere to the padding we decided on for the entire dialog*/
  padding-inline: 4rem;
  justify-content: end;
}

.dialog-window::part(header) {
  flex-direction: column;
  display: flex;
  align-items: start;
  row-gap: var(--lumo-space-m);
  padding-left: 0;
}

.dialog-window::part(header-content) {
  width: 100%;
  border-top: thin solid var(--lumo-contrast-20pct);
  padding-top: var(--lumo-space-m);
  padding-left: 4rem;
}

/*Full dialog width border between header-content and title so the left-padding has to be determined in the content and title separately*/
.dialog-window::part(title) {
  padding-left: 4rem;
}

.edit-experiment-dialog::part(overlay),
.add-experiment-dialog::part(overlay) {
  height: var(--medium-dialog-width);
  width: var(--small-dialog-height);
}

.edit-experiment-dialog .header,
.add-experiment-dialog .header {
  font-weight: bold;
}

.edit-project-dialog::part(overlay) {
  height: var(--full-dialog-height);
  width: var(--medium-dialog-width);
}

.edit-project-dialog .funding-field .input-fields,
.contact-field .input-fields {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

.edit-project-dialog .form-content .contact-field .name-field {
  flex-grow: 1;
}

.edit-project-dialog .form-content .contact-field .email-field {
  flex-grow: 1;
}

.edit-project-dialog .project-contacts {
  display: flex;
  gap: var(--lumo-space-m);
  flex-direction: column;
  margin-top: var(--lumo-space-m);
}


/* experimental groups exist dialog on variable edit */
.existing-groups-prevent-variable-edit .content .experimental-group-count {
  font-weight: bold;
}

/* samples exist on variable edit */
.existing-samples-prevent-variable-edit .content .sample-count {
  font-weight: bold;
}

/* samples exist on group edit */
.existing-samples-prevent-group-edit .content .sample-count {
  font-weight: bold;
}

.experiment-group-dialog::part(overlay) {
  height: var(--small-dialog-height);
  width: var(--small-dialog-width);
}

.experiment-group-dialog .add-new-group-action {
  display: flex;
  column-gap: var(--lumo-space-m);
  color: var(--lumo-primary-color);
  cursor: pointer;
}

.experiment-group-dialog .experimental-group-entry {
  display: inline-flex;
  column-gap: var(--lumo-space-m);
  align-items: baseline;
  width: 100%;
}

.experiment-group-dialog .experimental-group-entry .variable-select {
  flex-grow: 1;
}

.experiment-variable-dialog::part(overlay) {
  height: var(--small-dialog-height);
  width: var(--small-dialog-width);
}

.experiment-variable-dialog .add-new-variable-action {
  display: flex;
  column-gap: var(--lumo-space-m);
  color: var(--lumo-primary-color);
  cursor: pointer;
}

.experiment-variable-dialog .experiment-variable-row {
  display: inline-flex;
  column-gap: var(--lumo-space-m);
  align-items: baseline;
  width: 100%;
}

.experiment-variable-dialog .experiment-variable-row .variable-name {
  flex-grow: 1;
}

/* set the width of the notification */
.notification-dialog::part(overlay) {
  /*ToDo Figure out what's best practice here*/
  width: 36.75rem;
}

.notification-dialog .content {
  width: 100%;
}

/* notification dialog header */
.notification-dialog > [slot="header"] {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  gap: var(--lumo-space-s);
}

.notification-dialog .title {
  font-family: var(--lumo-font-family);
  line-height: var(--lumo-line-height-m);
  font-size: var(--lumo-font-size-xl);
  margin: 0;
}

/* icon in header */
.notification-dialog > [slot="header"] vaadin-icon {
  width: 1.83rem;
  height: 1.83rem;
  margin: 0.46rem;
  margin-inline-start: calc(var(--lumo-space-l) - var(--lumo-space-m));
}

.notification-dialog .error-icon {
  fill: var(--lumo-error-color);
}

.notification-dialog .warning-icon {
  fill: var(--lumo-warning-color);
}

.notification-dialog .info-icon {
  fill: var(--lumo-primary-color);
}

.purchase-item-upload::part(overlay) {
  height: var(--medium-dialog-height);
  width: var(--small-dialog-width);
}

.purchase-item-upload .restrictions {
  font-size: smaller;
  display: flex;
  justify-content: space-between;
  color: var(--lumo-contrast-60pct);
}

.purchase-item-upload .section-title {
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-s);
  font-weight: 500;
}

.purchase-item-upload .uploaded-items-description {
  font-size: var(--lumo-font-size-s);
}

.purchase-item-upload .uploaded-items {
  border: 1px solid var(--lumo-contrast-20pct);
  border-radius: var(--lumo-border-radius-l);
  display: flex;
  flex-direction: column;
}

.purchase-item-upload .uploaded-items .purchase-item {
  border-bottom-color: var(--lumo-contrast-20pct);
  border-bottom-style: solid;
  border-width: 1px;
  font-size: var(--lumo-font-size-s);
  display: flex;
  padding-top: var(--lumo-space-m);
  padding-bottom: var(--lumo-space-s);
  margin-inline: var(--lumo-space-m);
  flex-direction: column;
  row-gap: var(--lumo-space-s);
}

.purchase-item-upload .uploaded-items .purchase-item .file-name {
  display: inline-flex;
  align-items: center;
  column-gap: var(--lumo-space-xs);
}

.purchase-item-upload .uploaded-items .purchase-item .file-icon {
  display: inline-flex;
  font-size: smaller;
  flex-shrink: 0;
  color: var(--lumo-tertiary-text-color);
}

.purchase-item-upload .uploaded-items .purchase-item:last-child {
  border-style: none;
}

.purchase-item-upload .uploaded-items .purchase-item .signature-box {
  display: inline-flex;
  column-gap: var(--lumo-space-xs);
  width: var(--lumo-button-size);
}

.purchase-item-upload .uploaded-items .purchase-item .offer-icon {
  background-color: #4CADE8;
  display: inline-flex;
  font-size: var(--lumo-font-size-xs);
  color: white;
  padding-inline: var(--lumo-space-xs);
  border-radius: var(--lumo-border-radius-s);
}
