.card-deck {
  display: flex;
  align-content: space-evenly;
  flex-flow: row wrap;
}

.user-info-component {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-l);
  margin: var(--lumo-space-s);
}

.user-info-component .avatar {
  width: var(--lumo-icon-size-l);
  height: var(--lumo-icon-size-l);
}

.user-info-component .user-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--lumo-space-s);
}

.user-info-component .user-info .oidc {
  display: inline-flex;
  align-items: center;
  gap: var(--lumo-space-s);
  white-space: nowrap;
}

.user-info-component .user-info .user-name-and-full-name {
  display: flex;
  gap: var(--lumo-space-s);
  align-items: baseline;
}

.disclaimer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.disclaimer .disclaimer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--lumo-space-s);
}

.disclaimer .disclaimer-label {
  font-weight: normal;
  color: #2d2d2d;
  font-size: var(--lumo-font-size-s);
}

.disclaimer .disclaimer-title {
  font-weight: bold;
  color: #2d2d2d;
  font-size: var(--lumo-font-size-m);
  margin-bottom: 0.5rem;
}

.grid-details-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--lumo-space-s);
  cursor: default;
}

.grid-details-item .entry {
  display: inline-flex;
  gap: var(--lumo-space-s);
}

.grid-details-item .entry .entry-label {
  font-weight: bold;
  white-space: nowrap;
}

.grid-details-item .entry .entry-value-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--lumo-space-s);
}

.grid-details-item .entry-value {
  display: inline-flex;
  flex-wrap: wrap;
  word-break: break-all;
}

.ontology-component {
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-s);
}

.project-creation-stepper-arrow {
  align-items: end;
  color: var(--lumo-contrast-60pct);
  display: flex;
  margin-inline: var(--lumo-space-l);
}

.stepper {
  margin-top: 0.5rem;
  display: inline-flex;
  /*Employ same padding as defined for dialog layout*/
  padding-inline: 4rem;
}

.stepper .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  gap: var(--lumo-space-s);
}

.stepper .step[selected] > vaadin-avatar {
  background-color: var(--lumo-primary-color-50pct);
  color: white;
}

.stepper .step > vaadin-avatar {
  background-color: var(--lumo-contrast-60pct);
  color: white;
}

.ontology-entry-collection {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--lumo-space-s);
  width: 100%;
  white-space: nowrap;
}

.ontology-entry-collection .ontology-entry {
  display: inline-flex;
  gap: var(--lumo-space-s);
  width: 100%;
}

.project-role-item .project-role-label {
  font-weight: bold;
}

.project-role-item .project-role-description {
  display: flex;
  flex-direction: column;
}

.tag-collection {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--lumo-space-xs);
  white-space: nowrap;
}

.user-registration-component {
  background-color: var(--lumo-base-color);
  border: var(--lumo-contrast-10pct);
  border-radius: var(--lumo-border-radius-m);
  box-shadow: var(--lumo-box-shadow-l);
  font-size: var(--lumo-font-size-s);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-s);
  width: clamp(300px, 300px, 15vw);
  padding-bottom: var(--lumo-space-l);
  padding-inline: var(--lumo-space-l);
}
