vaadin-icon.primary {
  color: var(--primary-color);
}

vaadin-icon.error {
  color: var(--error-color);
}

vaadin-icon.success {
  color: var(--success-icon-color);
}

vaadin-icon.clickable {
  cursor: pointer;
}

vaadin-icon.small {
  width: var(--lumo-icon-size-s);
}

vaadin-icon.smallest {
  width: 1em;
}

vaadin-icon.copy-icon {
  color: var(--lumo-contrast-50pct);
}
