vaadin-icon.primary {
  color: var(--lumo-primary-color);
}

vaadin-icon.error {
  color: var(--lumo-error-color);
}

vaadin-icon.success {
  color: var(--lumo-success-color);
}

vaadin-icon.clickable {
  cursor: pointer;
}

vaadin-icon.small {
  width: var(--lumo-icon-size-s);
}

vaadin-icon.smallest {
  width: 1em;
}

vaadin-icon.copy-icon {
  color: var(--lumo-contrast-50pct);
}
