.info-section {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.info-section > .info-title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-xl);
}

.info-section .info-entry-label {
  font-weight: bold;
  font-size: var(--lumo-font-size-s);
  color: var(--lumo-secondary-text-color);
  display: flex;
  gap: var(--spacing-03);
}

.info-entry {
  display: grid;
  grid: auto / 20% auto;
}

.info-content {
  display: grid;
  gap: 0.75rem;
}

.project-information-content {
  display: grid;
  gap: 4rem;
}

.contact-item,
.person-contact-display {
  display: grid;

}

.contact-item .contact-email,
.person-contact-display  .email {
  font-size: var(--lumo-font-size-s);
  color: var(--lumo-secondary-text-color);
}
