.main {
  display: grid;
  gap: 1rem 1px;
  height: 100%;
}

.main.experiment {
  grid-template-columns: minmax(max-content, 100%);
  grid-template-rows: 1fr;
  grid-template-areas:
    "experimentdetails";
}

.main.experiment .experiment-details-component {
  grid-area: experimentdetails;
}

.main.project {
  grid-template-columns: minmax(min-content, 80%) minmax(min-content, 25%);
  grid-template-rows: auto;
  grid-template-areas:
    "projectdetails experimentlist"
    "projectdetails projectlinks";
}

.main.project .project-details-component {
  grid-area: projectdetails;
}

.main.project .experiment-list-component {
  grid-area: experimentlist;
}

.main.project .project-links-component {
  grid-area: projectlinks;
}

.main.sample {
  grid-template-columns: minmax(max-content, 100%);
  grid-template-rows: 1fr;
  grid-template-areas:
    "content";
  height: 100%;
}

.main.sample .content {
  grid-area: content;
}

.sample-page .support {
  grid-area: support;
}


/*Large devices (large desktops, 1200px and up)*/
@media only screen and (max-width: 1200px) {
  .main.experiment {
    grid-template-columns: minmax(max-content, 100%);
    grid-template-rows: 1fr;
    grid-template-areas:
    "experimentdetails";
  }

  .main.project {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-areas:
    "projectdetails"
    "experimentlist"
    "projectlinks";
    grid-template-rows: auto;
  }

  .main.sample {
    grid-template-columns: minmax(1200px, 1fr);
    grid-template-areas:
    "content"
    "support";
    grid-auto-rows: auto;
  }
}
