.main {
  display: grid;
  gap: 1rem 1px;
  height: 100%;
}

.main.experiment {
  grid-template-columns: minmax(max-content, 100%);
  grid-template-rows: auto;
  grid-template-areas:
    "experimentdetails";
  /*Todo figure out margin and paddings triggering overflow*/
  height: 99%;
}

.main.experiment .experiment-details-component {
  grid-area: experimentdetails;
}

.main.project {
  grid-template-columns: minmax(min-content, 80%) minmax(min-content, 25%);
  grid-template-rows: auto;
  grid-template-areas:
    "projectdetails experimentlist"
    "projectdetails projectlinks";
}

.main.project .project-details-component {
  grid-area: projectdetails;
}

.main.project .experiment-list-component {
  grid-area: experimentlist;
}

.main.project .project-links-component {
  grid-area: projectlinks;
}

.main.sample {
  grid-template-columns: auto;
  grid-template-rows: minmax(min-content, 20%) minmax(min-content, 75%);
  grid-template-areas:
    ". batchdetails"
    "sampledetails sampledetails";
  /*Todo figure out margin and paddings triggering overflow*/
  height: 99%;
}

.main.sample .batch-details-component {
  grid-area: batchdetails;
}

.main.sample .sample-details-component {
  grid-area: sampledetails;
}


/*Large devices (large desktops, 1200px and up)*/
@media only screen and (max-width: 1200px) {
  .main.experiment {
    grid-template-columns: minmax(max-content, 1fr);
    grid-template-areas:
    "experimentdetails";
    grid-template-rows: 1fr;
  }

  .main.project {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-areas:
    "projectdetails"
    "experimentlist"
    "projectlinks";
    grid-template-rows: 1fr;
  }

  .main.sample {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-areas:
    "batchdetails"
    "sampledetails";
    grid-template-rows: minmax(min-content, 20%) minmax(min-content, 75%);
  }
}
