#content-area {
  grid-area: content-area;
}

#main-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(max-content, 95%) minmax(min-content, 5%);
  height: 100%;
  /*Default design of components is too big for smaller screens*/
  zoom: 90%;
  grid-template-areas:
    "content-area"
    "data-manager-footer";
}

.landing-page-layout .landing-page-content {
  /*Static resources have to be loaded in css form the Meta-INF directory see vaadin cheatsheet
  https://vaadin.com/vaadin-reference-card#static-content */
  /*background-image: url("../images/");*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*Ensures that the landing page layout is always the full height of the content area*/
  min-height: 100%;
}

.landing-page-layout .landing-page-title-and-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: var(--lumo-space-s);
  margin-bottom: var(--lumo-space-l);
  padding-top: var(--lumo-space-xl);
}

.landing-page-layout .landing-page-title-and-logo .title {
  font-weight: bold;
  font-size: var(--lumo-font-size-xxl);
}

.landing-page-layout .landing-page-title-and-logo .subtitle {
  color: var(--lumo-tertiary-text-color);
  font-weight: bold;
}

.landing-page-layout .landing-page-title-and-logo .ut-logo {
  height: 2.5em;
  margin-bottom: var(--lumo-space-xl);
}

#data-manager-footer {
  display: inline-flex;
  column-gap: var(--lumo-space-l);
  border-top: thin solid var(--lumo-contrast-10pct);
  padding-inline: var(--lumo-space-m);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  grid-area: data-manager-footer;
}

.main {
  display: grid;
  height: 100%;
}

.main .title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-xxl);
  margin-bottom: 0.5rem;
}

.main.experiment {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "experimentdetails";
}

.main.email-confirmation {
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  /*Should be moved to the parent layout once Login and forgot password components are overhauled*/
  padding-bottom: var(--lumo-space-m);
}

.main.email-confirmation .email-confirmation-component {
  background-color: var(--lumo-base-color);
  border: var(--lumo-contrast-10pct);
  border-radius: var(--lumo-border-radius-m);
  box-shadow: var(--lumo-box-shadow-l);
  font-size: var(--lumo-font-size-s);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-l);
  width: clamp(450px, 450px, 15vw);
  padding-bottom: var(--lumo-space-xl);
  padding-inline: var(--lumo-space-l);
}

.main.email-confirmation .email-confirmation-component .resend-verification {
  display: inline-flex;
  gap: var(--lumo-space-s);
}

.main.experiment .experiment-details-component {
  grid-area: experimentdetails;
}

.main.legal-notice {
  padding: var(--lumo-space-xl);
  height: fit-content;
  width: clamp(700px, 60vw, 100%);
  display: flex;
  margin: auto;
}

.main.data-privacy-agreement {
  padding: var(--lumo-space-xl);
  height: fit-content;
  width: clamp(700px, 50vw, 100%);
  display: flex;
  margin: auto;
}

.main.measurement {
  grid-template-columns: minmax(max-content, 70%) minmax(max-content, 30%);
  grid-template-rows: minmax(max-content, 25%) minmax(max-content, 70%);
  grid-template-areas:
    ". measurementtemplatelist"
    "measurementdetails measurementdetails";
}

.main.measurement .page-area {
  border: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  border-radius: var(--lumo-border-radius-m);
}

/*We want to show disclaimer centralized over the whole main width and height independent of defined areas */
.main.measurement .no-samples-registered-disclaimer {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

/*We want to show disclaimer centralized over the whole main width and height independent of defined areas */
.main.measurement .no-measurements-registered-disclaimer {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.main.measurement .no-measurements-registered-disclaimer {
  display: flex;
  flex-direction: column;
  row-gap: var(--lumo-space-m);
  align-items: center;
  justify-content: center;
}

.main.measurement .no-measurements-registered-disclaimer .no-measurement-registered-title {
  font-weight: bold;
  font-size: var(--lumo-font-size-m);
  margin-bottom: 0.5rem;
}

.main.measurement .no-measurements-registered-disclaimer .no-measurement-registered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main.measurement .measurement-template-list-component {
  grid-area: measurementtemplatelist;
}


.main.measurement .measurement-details-component {
  grid-area: measurementdetails
}

.main.measurement .measurement-main-content {
  display: flex;
  flex-direction: column;
  row-gap: var(--lumo-space-m);
  padding: var(--lumo-space-m);
  justify-content: space-between;
}

.main.measurement .measurement-main-content .title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-xxl);
  margin-bottom: 0.5rem;
}

.main.measurement .measurement-main-content .buttonsAndInfo {
  display: flex;
  flex-direction: column;
  row-gap: var(--lumo-space-m);
}

.main.measurement .measurement-main-content .buttonsAndInfo .info {
  border-radius: var(--lumo-border-radius-m);
  column-gap: var(--lumo-space-s);
  background-color: var(--lumo-contrast-5pct);
  align-items: center;
  width: fit-content;
  padding-inline: var(--lumo-space-m);
  padding-top: var(--lumo-space-s);
  padding-bottom: var(--lumo-space-s);
}

.main.measurement .measurement-main-content .buttonsAndInfo .buttonAndField {
  display: inline-flex;
  justify-content: space-between;
  /*Moves this bar to end of container*/
  margin-top: auto;
}

.main.measurement .measurement-main-content .button-bar {
  display: inline-flex;
  column-gap: var(--lumo-space-s);
}

.main.ontology-lookup-main {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "ontologylookupcomponent"
}

.main.ontology-lookup-component {
  grid-area: ontologylookupcomponent;
}

.main.project {
  grid-template-columns: minmax(min-content, 80%) minmax(min-content, 25%);
  grid-template-rows: auto;
  grid-template-areas:
    "projectdetails experimentlist"
    "projectdetails offerlist"
    "projectdetails qualitycontrollist";
}

.main.project .page-area {
  border: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  border-radius: var(--lumo-border-radius-m);
}

.main.project .project-details-component {
  grid-area: projectdetails;
}

.main.project .experiment-list-component {
  grid-area: experimentlist;
}

.main.project .offer-list-component {
  grid-area: offerlist;
}

.main.project .quality-control-list-component {
  grid-area: qualitycontrollist;
}

.main.project-overview {
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: minmax(min-content, 10%) minmax(min-content, 80%);
  grid-template-areas:
    "."
    "projectcollection";
}

.main.project-overview .title-and-description {
  padding: var(--lumo-space-m);
  flex-direction: column;
  display: flex;
  gap: var(--lumo-space-s);
  white-space: pre-line;
}

.main.project-overview .project-overview-title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-xxl);
  margin-bottom: 0.5rem;
}

.main .project-overview .project-collection-component {
  grid-area: projectcollection;
}

.main.raw-data {
  grid-template-columns: minmax(min-content, 80%) minmax(min-content, 20%);
  grid-template-rows: minmax(min-content, 20%) minmax(min-content, 80%);
  grid-template-areas:
    ". rawdatadownloadinformation"
    "rawdatadetails rawdatadownloadinformation";
}

.main.raw-data .page-area {
  border: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  border-radius: var(--lumo-border-radius-m);
}

.main.raw-data .no-measurements-registered-disclaimer {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.main.raw-data .no-raw-data-registered-disclaimer {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.main.raw-data .raw-data-download-information-component {
  grid-area: rawdatadownloadinformation;
}


.main.raw-data .raw-data-details-component {
  grid-area: rawdatadetails
}

.main.raw-data .raw-data-main-content {
  display: flex;
  flex-direction: column;
  row-gap: var(--lumo-space-m);
  padding: var(--lumo-space-m);
}


.main.raw-data .raw-data-main-content .title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-xxl);
  margin-bottom: 0.5rem;
}

.main.raw-data .raw-data-main-content .buttonAndField {
  display: inline-flex;
  justify-content: space-between;
  /*Moves this bar to end of container*/
  margin-top: auto;
}

.main.user-registration {
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  /*Should be moved to the parent layout once Login and forgot password components are overhauled*/
  padding-bottom: var(--lumo-space-m);
}

.main.sample {
  grid-template-columns: minmax(min-content, 50%) minmax(min-content, 50%);
  grid-template-rows: minmax(min-content, 25%) minmax(min-content, 70%);
  grid-template-areas:
    ". batchdetails"
    "sampledetails sampledetails";
}

.main.sample .page-area {
  border: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  border-radius: var(--lumo-border-radius-m);
}

/*We want to show disclaimer centralized over the whole main width and height independent of defined areas */
.main.sample .no-samples-registered-disclaimer {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

/*We want to show disclaimer centralized over the whole main width and height independent of defined areas */
.main.sample .no-experimental-groups-registered-disclaimer {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.main.sample .sample-main-content {
  display: flex;
  flex-direction: column;
  row-gap: var(--lumo-space-m);
  padding: var(--lumo-space-m);
  justify-content: space-between;
}

.main.sample .sample-main-content .title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-xxl);
  margin-bottom: 0.5rem;
}

.main.sample .sample-main-content .buttonAndField {
  display: inline-flex;
  justify-content: space-between;
  gap: var(--lumo-space-m);
}

.main.sample .batch-details-component {
  grid-area: batchdetails;
}

.main.sample .sample-details-component {
  grid-area: sampledetails;
}

.main.reset-password {
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  /*Should be moved to the parent layout once Login and forgot password components are overhauled*/
  padding-bottom: var(--lumo-space-m);
}

.main.set-new-password {
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  /*Should be moved to the parent layout once Login and forgot password components are overhauled*/
  padding-bottom: var(--lumo-space-m);
}

.main.user-profile {
  grid-template-columns: minmax(min-content, auto);
  grid-template-rows: minmax(min-content, auto);
  grid-template-areas:
    "user-profile-component"
}

.main.user-registration {
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  /*Should be moved to the parent layout once Login and forgot password components are overhauled*/
  padding-bottom: var(--lumo-space-m);
}

/*Large devices (large desktops, 1200px and up)*/
@media only screen and (max-width: 1200px) {
  .main.experiment {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-areas:
    "experimentdetails";
    grid-template-rows: minmax(min-content, 1fr);
  }

  .main.measurement {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-areas:
    "."
    "measurementtemplatelist"
    "measurementdetails";
    grid-template-rows: minmax(min-content, 20%) minmax(min-content, 20%) minmax(min-content, 60%);
  }

  .main.project {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-areas:
    "projectdetails"
    "experimentlist"
    "offerlist"
    "qualitycontrollist";
    grid-template-rows: minmax(min-content, 60%) minmax(min-content, 20%) minmax(min-content, 20%);
  }

  .main.project-overview {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows:  minmax(min-content, 10%) minmax(min-content, 80%);
    grid-template-areas:
    "."
    "projectcollection";
  }

  .main.raw-data {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-areas:
    "."
    "rawdatadownloadinformation"
    "rawdatadetails";
    grid-template-rows: minmax(min-content, 20%) minmax(min-content, 20%) minmax(min-content, 60%);
  }

  .main.sample {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-areas:
    "."
    "batchdetails"
    "sampledetails";
    grid-template-rows: minmax(min-content, 20%) minmax(min-content, 20%) minmax(min-content, 60%);
  }


}
