#data-manager-layout::part(navbar) {
  display: inline-flex;
  justify-content: space-between;
  background-image: linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
}

#data-manager-layout .data-manager-title {
  font-size: var(--lumo-font-size-l);
  color: var(--lumo-header-text-color);
  font-weight: 600;
  line-height: var(--lumo-line-height-xs);
  margin-block: 0;
}

.data-manager-menu {
  display: inline-flex;
  justify-content: space-between;
  column-gap: var(--lumo-space-s);
}

/*Increase gap between menu items*/
.data-manager-menu .menubar::part(container) {
  display: inline-flex;
  column-gap: var(--lumo-space-s);
}

.data-manager-menu .user-avatar {
  cursor: pointer;
}

/*Increase gap between menu items*/
.experiment-main-layout .experiment-app-navbar {
  display: inline-flex;
  justify-content: space-between;
  padding-right: var(--lumo-space-m);
}

.drawer-title-bar {
  display: inline-flex;
  align-items: center;
}

.experiment-navigation-component {
  width: 100%;
  padding-top: var(--lumo-space-s);
  padding-bottom: var(--lumo-space-s);
  background-color: var(--lumo-base-color);
}

.experiment-navigation-component .experiment-navigation-tabs {
  width: 100%;
}

.experiment-navigation-component .experiment-navigation-tabs .arrow-tab {
  align-items: end;
  color: var(--lumo-contrast-60pct);
}

.project-main-layout .project-main-layout-navbar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding-right: var(--lumo-space-m);
  align-items: center;
}

.experiment-main-layout .experiment-main-layout-navbar {
  padding-top: var(--lumo-space-s);
  padding-bottom: var(--lumo-space-s);
  display: inline-flex;
  justify-content: space-between;
  padding-right: var(--lumo-space-m);
  align-items: center;
}

.project-navbar-title {
  font-weight: bold;
  font-size: var(--lumo-font-size-l);
  display: inline-flex;
  align-items: inherit;
  column-gap: var(--lumo-space-s);
}

.experiment-main-layout .experiment-main-layout-navbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landing-page-layout::part(navbar) {
  padding-inline: var(--lumo-space-m);
}

.user-main-layout::part(navbar) {
  padding-inline: var(--lumo-space-m);
}

.navbar-title {
  font-weight: bold;
  display: inline-flex;
  align-items: inherit;
  column-gap: var(--lumo-space-s);
}
