/* All custom css for components within the navigation drawer go here */
.project-navigation-drawer {
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-m);
  margin-inline: var(--spacing-03);
}

.project-navigation-drawer-title {
  font-weight: bold;
  font-size: var(--lumo-font-size-xl);
  margin-left: var(--spacing-03);
  margin-top: var(--spacing-03);
  margin-bottom: var(--lumo-space-l);
}

/*In order: Style in primary color: sideNav title (without it's children), prefix component (icon), suffix component and toggle button(only present if children are present) */
.project-navigation-drawer vaadin-side-nav-item.primary::part(item),
.project-navigation-drawer vaadin-side-nav-item.primary [slot="prefix"],
.project-navigation-drawer vaadin-side-nav-item.primary [slot="suffix"],
.project-navigation-drawer vaadin-side-nav-item::part(toggle-button) {
  color: var(--lumo-primary-color);
}



.project-navigation-drawer vaadin-side-nav-item.hoverable::part(item):hover {
  background-color: var(--lumo-primary-color-10pct);
}

.project-navigation-drawer .content {
  display: inline-flex;
  flex-direction: column;
  gap: var(--lumo-space-l);
}

.project-navigation-drawer .project-section {
  display: flex;
  flex-direction: column;
}

.project-navigation-drawer .project-items {
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-m);
}

.project-navigation-drawer .section-divider {
  margin-top: var(--lumo-space-m);
  margin-bottom: var(--lumo-space-m);;
}

.project-selection-menu {
  margin-left: var(--spacing-03);
  margin-right: var(--spacing-03);
}

.project-selection-menu vaadin-menu-bar-button[aria-haspopup] {
  overflow: hidden;
  text-overflow: ellipsis;
  /*Needs to be less then 99% to avoid automatic overflow menu bar item generation!
  https://vaadin.com/docs/latest/components/menu-bar#overflow
  */
  width: 98%;
}

.project-selection-menu vaadin-menu-bar-item::part(content) {
  width: 100%;
}

.recent-projects-header {
  color: var(--lumo-tertiary-text-color);
  margin-left: var(--lumo-space-l);
}

.dropdown-field {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.selected-project-title {
  text-overflow: ellipsis;
  overflow: hidden;
}
