.offer-info {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.offer-info .file-info {
  display: inline-flex;
  flex-grow: 1;
  gap: var(--lumo-space-s);
  align-items: center;
}

.offer-info .signed-info {
  font-size: var(--lumo-font-size-xs);
}

.offer-info .signed-info.signed {
  color: var(--lumo-primary-color);
}

.offer-info .signed-info.unsigned {
  color: gray;
  justify-self: right;
}

/*Same icon as used in .uploaded-items .purchase-item .offer-icon in dialog.css*/
.offer-info .offer-icon {
  background-color: #4CADE8;
  display: inline-flex;
  font-size: var(--lumo-font-size-xs);
  color: white;
  padding-inline: var(--lumo-space-xs);
  border-radius: var(--lumo-border-radius-s);
}
