/* All custom css for components which extend the page-area component go in here! */
.page {
  height: 100%;
  width: 100%;
}

.page-area {
  background-color: var(--lumo-base-color);
  padding: var(--lumo-space-m);
  flex-direction: column;
  display: flex;
  gap: var(--lumo-space-s);
  border: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  border-radius: var(--lumo-border-radius-m);
}

.page-area .title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-xxl);
  margin-bottom: 0.5rem;
}

.page-area.navbar {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--lumo-space-xs);
}

.batch-details-component .editor-buttons {
  display: flex;
  gap: var(--lumo-space-s);
  justify-content: end;
}

.batch-details-component .title-and-controls {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
}

.experiment-details-component .sample-source-display {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.experiment-details-component .sample-source-display .sample-source {
  flex-direction: column;
  display: flex;
  row-gap: var(--lumo-space-m);
}

.experiment-details-component .sample-source-display .sample-source .header {
  display: inline-flex;
  justify-content: start;
  align-items: start;
  column-gap: var(--lumo-space-m);
  font-size: var(--lumo-font-size-m);
  font-weight: 500;
}

.experiment-details-component .sample-source-display .sample-source .ontologies {
  display: flex;
  row-gap: var(--lumo-space-s);
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.experiment-details-component .sample-source-display .sample-source .ontologies .ontology {
  display: inline-flex;
  gap: var(--lumo-space-s);
  align-items: center;
  width: 100%;
}


.experiment-details-component .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.experiment-details-component .details-content {
  padding: var(--lumo-space-m);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--lumo-space-m);
  font-size: var(--lumo-font-size-s);
}

.experiment-details-component vaadin-tabsheet {
  height: 100%;
  width: 100%;
}

/*Necessary so the disclaimers are aligned to the center of the tab*/
.experiment-details-component .details-content .experimental-groups-container {
  height: 100%;
  width: 100%;
}

.experiment-details-component .details-content .experimental-variables-container {
  height: 100%;
  width: 100%;
}

.experiment-details-component .sample-registration-possible {
  margin-bottom: var(--lumo-space-m);
}

.experiment-list-component .content {
  display: grid;
  gap: var(--lumo-space-m);
  grid-auto-rows: max-content;
}

.experiment-list-component .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--lumo-space-m);
}

.ontology-lookup-component {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--lumo-space-m);
}

.ontology-lookup-component .search-field {
  max-width: 33%;
}

.ontology-lookup-component .ontology-grid {
  border-top: 1px solid var(--lumo-contrast-10pct);
  margin-right: var(--lumo-space-xl);
}

.ontology-lookup-component .ontology-grid vaadin-grid-cell-content {
  padding: var(--lumo-space-xs);
}

.ontology-lookup-component .ontology-item {
  background-color: var(--lumo-base-color);
  border: black;
  border-radius: var(--lumo-border-radius-m);
  box-shadow: var(--lumo-box-shadow-s);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
  overflow: hidden;
  padding: var(--lumo-space-m);
  row-gap: var(--lumo-space-s);
  text-overflow: ellipsis;
  white-space: normal;
}

.ontology-lookup-component .ontology-item .header {
  display: inline-flex;
  column-gap: var(--lumo-space-s);
  align-items: center;
}

.ontology-lookup-component .ontology-item .header .copy-icon {
  display: inline-flex;
  font-size: smaller;
  flex-shrink: 0;
  color: var(--lumo-tertiary-text-color);
}

.ontology-lookup-component .ontology-item .ontology-item-title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-l);
}

.ontology-lookup-component .ontology-item .url {
  display: inline-flex;
  font-size: smaller;
  flex-shrink: 0;
  color: var(--lumo-tertiary-text-color);
}

.personal-access-token-component {
  row-gap: var(--lumo-space-l);
  display: flex;
}

.personal-access-token-component .header {
  justify-content: space-between;
  display: inline-flex;
}

.personal-access-token-component .header .buttons {
  column-gap: var(--lumo-space-s);
  display: inline-flex;
}

.personal-access-token-component .description {
  display: flex;
  flex-direction: column;
  row-gap: var(--lumo-space-m);
}

.personal-access-token-component .personal-access-token-container {
  width: 60%;
  height: 60%;
}

.personal-access-token-component .personal-access-token-container .personal-access-token-list {
  border: 1px solid var(--lumo-contrast-20pct);
}


.personal-access-token-component .personal-access-token-container .show-created-personal-access-token-details {
  display: flex;
  flex-direction: column;
  row-gap: var(--lumo-space-s);
  padding: var(--lumo-space-m);
  border: 1px solid var(--lumo-contrast-20pct);
  width: 100%;
}

.personal-access-token-component .personal-access-token-container .show-created-personal-access-token-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-access-token-component .personal-access-token-container .show-created-personal-access-token-details .copy-disclaimer {
  display: inline-flex;
  column-gap: var(--lumo-space-s);
  font-size: var(--lumo-font-size-s);
  align-items: center;
}

.personal-access-token-component .personal-access-token-container .show-created-personal-access-token-details .token-text {
  display: inline-flex;
  column-gap: var(--lumo-space-s);
  align-items: center;
}

.personal-access-token-component .personal-access-token-container .show-encrypted-personal-access-token-details {
  display: flex;
  flex-direction: column;
  row-gap: var(--lumo-space-m);
}


.personal-access-token-component .personal-access-token-container .show-encrypted-personal-access-token-details .copy-disclaimer {
  display: inline-flex;
  column-gap: var(--lumo-space-s);
  align-items: center;

}

.personal-access-token-component .personal-access-token-container .show-encrypted-personal-access-token-details .expiration-date {
  display: inline-flex;
  column-gap: var(--lumo-space-s);
  align-items: center;
}

.personal-access-token-component .personal-access-token-container .show-encrypted-personal-access-token-details .token-text {
  display: inline-flex;
  column-gap: var(--lumo-space-s);
  align-items: center;
}

.personal-access-token-component .personal-access-token-container .show-encrypted-personal-access-token-layout {
  display: flex;
  padding: var(--lumo-space-m);
  border-bottom: 1px solid var(--lumo-contrast-20pct);
  justify-content: space-between;
  align-items: center;
}

.project-access-component .content {
  display: flex;
  row-gap: var(--lumo-space-l);
  flex-direction: column;
}

.project-access-component .user-access {
  display: flex;
  row-gap: var(--lumo-space-m);
  flex-direction: column;
}

.project-access-component .role-access {
  display: flex;
  row-gap: var(--lumo-space-m);
  flex-direction: column;
}

.project-access-component .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.project-collection-component .header {
  display: flex;
  column-gap: var(--lumo-space-xl);
  flex-direction: column;
}

.project-collection-component .controls {
  display: flex;
  align-content: space-between;
  gap: 1rem;
}

.project-details-component .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.quality-control-list-component .header {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
}

.sample-details-component .button-and-search-bar {
  display: flex;
  justify-content: space-between;
  gap: var(--lumo-space-s);
  margin-bottom: var(--lumo-space-m);
}

.sample-details-component .button-bar {
  gap: var(--lumo-space-s);
  display: inline-flex;
  align-items: end;
}

.sample-details-component .sample-details-content {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--lumo-space-m);
  height: 100%;
}

.sample-details-component .sample-tab-content {
  height: 100%;
  width: 100%;
}

.sample-details-component .search-bar {
  gap: var(--lumo-space-s);
  display: inline-flex;
  align-items: end;
}
