.heading-with-icon {
  color: #878787;
  column-gap: var(--lumo-space-s);
  display: flex;
  flex-direction: row;
  font-weight: bold;
  line-height: 1;
  font-size: var(--lumo-space-m);
}

.heading-with-icon vaadin-icon {
  height: auto;
}

.section {
  width: 100%;
  margin-bottom: var(--lumo-space-xl);
}

.section-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-header.normal-trailing-margin {
  margin-bottom: var(--lumo-space-l);
}

.section-header.small-trailing-margin {
  margin-bottom: var(--lumo-space-s);
}

.section-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--lumo-space-l);
}

.section-header-row {
  display: flex;
  width: 100%;
}

.section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--lumo-space-m);
}

.section-title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  margin-bottom: 0.5rem;
  width: 100%;
}

.section-title.small-size {
  font-size: var(--lumo-font-size-l);
}

.section-title.medium-size {
  font-size: var(--lumo-font-size-xl);
}

.section-title.large-size {
  font-size: var(--lumo-font-size-xxl);
}

.sub-header {
  font-size: var(--lumo-font-size-s);
  color: #878787;
  margin-bottom: 0.5rem;
}

.tag-list {
  width: 100%;
  display: flex;
}

.detail-box {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: var(--lumo-space-s);
  max-height: 10rem;
}

.detail-box-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--lumo-space-s);
  font-size: var(--lumo-font-size-m);
  font-weight: bold;
  color: #878787;
  line-height: 1;
}

.detail-box-header vaadin-icon {
  height: auto;
}

.detail-box-child {
  border-width: 1px 1px 1px 1px;
  border-color: lightgray;
  padding: var(--lumo-space-m) var(--lumo-space-m) var(--lumo-space-m);
}

.detail-box-child:first-child {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: lightgray;
}

.icon-label {
  font-size: var(--lumo-font-size-m);
  line-height: 1;
  display: flex;
  flex-direction: row;
  gap: var(--lumo-space-l);
}

.icon-label-container {
  display: flex;
  flex-direction: row;
  font-size: var(--lumo-font-size-m);
  color: #878787;
  font-weight: bold;
  gap: var(--lumo-space-s);
}

.icon-label-container vaadin-icon {
  height: auto;
}

.vertical-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dynamic-growing-flex-item {
  flex-grow: 1;
}

.wrapping-flex-container {
  flex-wrap: wrap;
}

.overflow-hidden-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gap-medium {
  gap: var(--lumo-space-m);
}

.gap-small {
  gap: var(--lumo-space-s);
}

.allow-row-wrap {
  flex-wrap: wrap;
}

.overflow-scroll-height {
  overflow: auto;
}

.ontology-term {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--lumo-space-s);
  white-space: nowrap;
  flex-wrap: wrap;
}

.fixed-medium-width {
  width: 25rem;
}

.simple-paragraph {
  font-size: var(--lumo-font-size-m);
  margin-bottom: var(--lumo-space-m);
  max-width: 40em;
}
