.section {
  width: 100%;
}

.section-header {
  display: flex;
  width: 100%;
}

.section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--lumo-space-m);
}

.section-title {
  font-weight: bold;
  color: var(--lumo-secondary-text-color);
  margin-bottom: 0.5rem;
  width: 100%;
}

.section-title.small-size {
  font-size: var(--lumo-font-size-l);
}

.section-title.medium-size {
  font-size: var(--lumo-font-size-xl);
}

.section-title.large-size {
  font-size: var(--lumo-font-size-xxl);
}

.sub-header {
  font-size: var(--lumo-font-size-s);
  color: #878787;
  margin-bottom: 0.5rem;
}

.tag-list {
  width: 100%;
  display: flex;
}
