.code-block {
  display: inline-flex;
  border-radius: var(--lumo-border-radius-m);
  align-items: center;
  padding-inline: var(--spacing-03);
  justify-content: space-between;
  border: 1px solid var(--lumo-contrast-20pct);
  column-gap: var(--lumo-space-l);
  font-family: "Source Code Pro for Powerline", monospace;

}

.experiment-list-item {
  display: flex;
  gap: var(--spacing-03);
  font-size: var(--lumo-font-size-l)
}

.experiment-list-item vaadin-icon {
  font-size: var(--lumo-font-size-m);
  padding: var(--lumo-space-xs);
}

.error-text {
  color: var(--lumo-error-text-color);
}

.info-box {
  display: inline-flex;
  border-radius: var(--lumo-border-radius-m);
  column-gap: var(--spacing-03);
  background-color: var(--lumo-contrast-5pct);
  align-items: center;
  width: fit-content;
  padding-inline: var(--lumo-space-m);
  padding-top: var(--spacing-03);
  padding-bottom: var(--spacing-03);
  font-size: small;
}

.link {
  color: var(--lumo-primary-text-color);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.login-card {
  display: inline-flex;
  gap: var(--lumo-space-l);
  align-items: center;
  padding-inline: var(--lumo-space-m);
  padding-top: var(--spacing-03);
  padding-bottom: var(--spacing-03);
  box-sizing: border-box;
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius-m);
  border-style: solid;
  border-color: var(--lumo-contrast-20pct);
  border-width: 1px;
  width: 100%;
  cursor: pointer;
}

.login-card .text {
  font-weight: 500;
  font-size: var(--lumo-font-size-m);
}

.registration-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-03);
  align-items: center;
  width: 100%;
}

.registration-section .link {
  display: inline-flex;
  gap: var(--spacing-03);
  font-weight: 500;
}

.registration-section .spacer {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  width: 100%
}

.registration-section .spacer::before,
.registration-section .spacer::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--lumo-contrast-20pct);
}

/* ontology-link styling */
.ontology-link {
  display: inline-flex;
  box-sizing: border-box;
  padding: 0.4em calc(0.5em + var(--lumo-border-radius-s) / 4);
  color: var(--lumo-primary-text-color);
  background-color: var(--lumo-primary-color-10pct);
  border-radius: var(--lumo-border-radius-s);
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size-s);
  line-height: 1;
  text-decoration-line: underline;
  width: min-content;
}

span.bold {
  font-weight: bold;
}

span.clickable {
  cursor: pointer;
}

span.primary {
  color: var(--lumo-primary-text-color);
}

span.secondary {
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-s);
}

span.tertiary {
  color: var(--lumo-tertiary-text-color);
  font-size: var(--lumo-font-size-s);
}

span.warning {
  color: var(--lumo-warning-text-color);
  font-size: var(--lumo-font-size-s);
}

span.inline {
  display: inline-flex;
  column-gap: var(--lumo-space-xs);
}

.spreadsheet-list-item {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* vaadin badge styling*/
.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.4em calc(0.5em + var(--lumo-border-radius-s) / 4);
  border-radius: var(--lumo-border-radius-s);
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size-s);
  line-height: 1;
  font-weight: 500;
  text-transform: initial;
  letter-spacing: initial;
  min-width: calc(var(--lumo-line-height-xs) * 1em + 0.45em);
  flex-shrink: 0;
}

.tag::before {
  display: inline-block;
  content: '\2003';
  width: 0;
}

.tag.contrast {
  background-color: var(--lumo-contrast-5pct);
  color: var(--lumo-contrast-80pct);
}

.tag.error {
  background-color: var(--lumo-error-color-10pct);
  color: var(--error-color);
}

.tag.primary {
  background-color: var(--lumo-primary-color-10pct);
  color: var(--lumo-primary-text-color);
}

.tag.success {
  background-color: var(--lumo-success-color-10pct);
  color: var(--lumo-success-text-color);
}

.tag.violet {
  background-color: #7B61FF1A;
  color: #7B61FF;
}

.tag.pink {
  background-color: #FF5DD226;
  color: #DF0B92;
}

.tag.warning {
  background-color: var(--lumo-warning-color-10pct);
  color: var(--lumo-warning-text-color);
}
