/* Margins of H2 Elements have changed from Vaadin 23 to Vaadin 24*/
h2 {
  margin-bottom: 0.5em;
  margin-top: 1.25em;
}

/*Cursor should be a shown as pointer while hovering over the menu bar button*/
vaadin-menu-bar-button {
  cursor: pointer;
}

/*Cursor should be a shown as pointer while hovering over the text within the menubar button */
vaadin-menu-bar-item {
  cursor: pointer;
}

/*Cursor should be a shown as pointer while hovering over a form item within the form layout */
vaadin-form-item::part(content) {
  cursor: pointer;
}

/*Style chips within multi-select combobox as badges" */
vaadin-multi-select-combo-box.chip-badge vaadin-multi-select-combo-box-chip {
  color: var(--lumo-primary-text-color);
  background-color: var(--lumo-primary-color-10pct);
  font-size: var(--lumo-font-size-s);
}

/* The checkmark has to be in the beginning line of an item if the item spans multiple lines */
vaadin-multi-select-combo-box-item {
  align-items: start;
}

/*Style overflow chip color within multi-select combobox as badges" */
vaadin-multi-select-combo-box.chip-badge vaadin-multi-select-combo-box-chip[slot="overflow"]::before, vaadin-multi-select-combo-box-chip[slot="overflow"]::after {
  border-color: var(--lumo-primary-color-10pct);
}

vaadin-multi-select-combo-box::part(toggle-button)::before {
  color: var(--lumo-primary-color);
}

/* Hide toggle button */
vaadin-multi-select-combo-box.no-chevron::part(toggle-button) {
  display: none;
}

vaadin-number-field::part(decrease-button), vaadin-number-field::part(increase-button) {
  color: var(--lumo-primary-color);
}

/*Removes underline from tabSheet*/
vaadin-tabsheet.minimal::part(tabs-container) {
  box-shadow: none;
  --_lumo-tab-marker-display: none;
}

/*Hides the icon from the listbox*/
vaadin-list-box.transparent-icons vaadin-item::part(checkmark)::before {
  display: none;
}

vaadin-menu-bar-item.transparent-icon::part(checkmark)::before {
  color: transparent;
}
