/* Subdivides the project-view-page into 4 columns and rows with equal spacing on which the components can be allocated*/
#project-page-css-grid-structure {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  min-height: 100%;
  padding: 50px;
}

/* These components css snippets determine the position of each component within the css grid of the project view page
They are set within as classes within their own individual subpages */
#project-navigation-component {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

#project-details-component {
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;
}

#project-links-component {
  grid-column: 4 / span 2;
  grid-row: 1 / span 4;
}

#experiment-details-component {
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;
}

#experiment-list-component {
  grid-column: 4 / span 2;
  grid-row: 1 / span 4;
}

.sample-overview-component {
  grid-column: 1 / span 4;
  grid-row: 2 / span 3;
}
