.project-view-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  min-height: 100%;
  padding: 50px;
}

.project-navigation-component {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

.project-details-component {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
}

.project-links-component {
  grid-column: 4 / span 2;
  grid-row: 1 / span 3;
}

.experimental-design-component {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
}

.sample-overview-component {
  grid-column: 1 / span 4;
  grid-row: 2 / span 3;
}
