#login-view{
    display: grid;
}

#register-view{
    display: grid;
}

.error-10pct {
    background-color: var(--lumo-error-color-10pct);
    color: var(--lumo-error-text-color);
}

.min-width-300{
    min-width: 300px;
}

.max-width-15{
    max-width: 15vw;
}

.lumo-font-size-s {
    font-size: var(--lumo-font-size-s);
}

.lumo-box-shadow-size-s {
    box-shadow: var(--lumo-box-shadow-s);
}
