#login-view{
    display: grid;
}

#register-view{
    display: grid;
}

.description-text{
    color: #1B2B41B0;
    margin-top: 0.1em;
    margin-bottom: 1em;
    font-size: 14px;
}

.error-10pct {
    background-color: var(--lumo-error-color-10pct);
    color: var(--lumo-error-text-color);
}
