.max-width-15vw {
    max-width: 15vw;
}

.min-width-300px {
    min-width: 300px;
}

.form-title {
    margin: 0;
    margin-top: var(--lumo-font-size-xxs);
    padding: 0;
    padding-top: var(--lumo-space-l);
    padding-left: var(--lumo-space-l);
}
